<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>LoginChecker</servlet-name>
        <servlet-class>controller.LoginChecker</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteDonorChecker</servlet-name>
        <servlet-class>controller.DeleteDonorChecker</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteDonorReqChecker</servlet-name>
        <servlet-class>controller.DeleteDonorReqChecker</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletePatientReqChecker</servlet-name>
        <servlet-class>controller.DeletePatientReqChecker</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteReceiverChecker</servlet-name>
        <servlet-class>controller.DeleteReceiverChecker</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DonationReqChecker</servlet-name>
        <servlet-class>controller.DonationReqChecker</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DonationSuccessfulChecker</servlet-name>
        <servlet-class>controller.DonationSuccessfulChecker</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DonorRecordChecker</servlet-name>
        <servlet-class>controller.DonorRecordChecker</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuantityUpdationChecker</servlet-name>
        <servlet-class>controller.QuantityUpdationChecker</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReceiverRecordChecker</servlet-name>
        <servlet-class>controller.ReceiverRecordChecker</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RequestBloodChecker</servlet-name>
        <servlet-class>controller.RequestBloodChecker</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RequestCompleteChecker</servlet-name>
        <servlet-class>controller.RequestCompleteChecker</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContactChecker</servlet-name>
        <servlet-class>controller.ContactChecker</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginChecker</servlet-name>
        <url-pattern>/LoginChecker</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteDonorChecker</servlet-name>
        <url-pattern>/DeleteDonorChecker</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteDonorReqChecker</servlet-name>
        <url-pattern>/DeleteDonorReqChecker</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletePatientReqChecker</servlet-name>
        <url-pattern>/DeletePatientReqChecker</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteReceiverChecker</servlet-name>
        <url-pattern>/DeleteReceiverChecker</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DonationReqChecker</servlet-name>
        <url-pattern>/DonationReqChecker</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DonationSuccessfulChecker</servlet-name>
        <url-pattern>/DonationSuccessfulChecker</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DonorRecordChecker</servlet-name>
        <url-pattern>/DonorRecordChecker</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuantityUpdationChecker</servlet-name>
        <url-pattern>/QuantityUpdationChecker</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReceiverRecordChecker</servlet-name>
        <url-pattern>/ReceiverRecordChecker</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RequestBloodChecker</servlet-name>
        <url-pattern>/RequestBloodChecker</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RequestCompleteChecker</servlet-name>
        <url-pattern>/RequestCompleteChecker</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContactChecker</servlet-name>
        <url-pattern>/ContactChecker</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>webhome.jsp</welcome-file>
    </welcome-file-list>
</web-app>
